.v-content__wrap #home {
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #0e051e, #1b0556, #561770, #2a1096); // original
  // background: linear-gradient(-45deg, #ee538d, #de97b1, #e7c5dc, #a8c1c8);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
}

#toolbarMenu,
#footer {
  width: 100%;
  height: auto;
  color: #fff;
  background: linear-gradient(-45deg, #0e051e, #1b0556, #561770, #2a1096); // original
  // background: linear-gradient(-45deg, #ee538d, #de97b1, #e7c5dc, #a8c1c8);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
