.v-content__wrap {
  width: 100wh;
  height: 100vh;
  color: #fff;
  background: linear-gradient(-45deg, #000669, #2e0069, #630069);
  // background: linear-gradient(-45deg, #2E0069, #000669, #2e0069, #630069); // original
  // background: linear-gradient(-45deg, #ee538d, #de97b1, #e7c5dc, #a8c1c8);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
