.grid__layout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.12);
  width: 100% !important;

  .v-card-media {
    transition: transform .2s;
  }
}

.grid__layout .v-card:hover .v-card__media {
  height: 400px !important;
  -webkit-transform: translate3d(1.42109e -14px, 0px, 0px) scale(1, 1) rotate(0deg);
  transform: translate3d(1.42109e -14px, 0px, 0px) scale(1, 1) rotate(0deg);
  -webkit-transition: width 1s, height 2s;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  position: absolute;
  bottom: -200px;
  width: 100%;
  background: #2e0069 !important;
}

// show and hide card__media__text
.grid__layout .v-card .v-card__media .grid__layout--text {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.grid__layout .v-card:hover .v-card__media .grid__layout--text {
  visibility: visible;
  opacity: 1;
}

#particles-js {
  .grid__layout:hover + .content {
    display: none;
  }
}

.content {
  color: #ffff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
}
